Sequences:

A sequence in Python is a set of values bounded together in a container. This can include lists, tuples and dictionaries.

Lists: a list is a type of sequence of data points like integers, floats etc. Understanding how lists work is an important factor to organizing data.

To make a list, create a new variable assigned to your list of data points. You can indicate your list by putting the data points in brackets([]), with the elements separated by commas. Let's take a look at the list of names below to understand this better:

In [13]:
# List name = [data 1, data 2, data 3, etc.]
Names = ["Natalie", "John", "Sami", "Jameel", "Clara"]
Names

['Natalie', 'John', 'Sami', 'Jameel', 'Clara']

When working with lists, you can select one element from the list using indexing. If you remember from Introduction to Python Part 2, in order to index you have to call the name of the variable followed by the index of the element in brackets where the count starts from 0. In this case, we would use the name of the list. Let's extract the name "Sami" from list of names:

In [14]:
Names[2] #list_name[index_of_element]

'Sami'

A neat trick to remember when indexing, is that you can also index or select elements by counting from the end of a list. To do this, you would just use the negative number, however, since we start from end, we start counting with "-1" not "0". So, if we wanted to select "Sami" in this way, it would look like this:

In [6]:
Names[-3] #list_name[-index_of_element]

'Sami'

Let's say we needed to update one of the names in list, specifically change "Jameel" to "Chris". We can do this by assigning the index for "Jameel" to "Chris":

In [15]:
#list_name[index_to_be_replaced] = new_data_point
Names[3] = "Chris"
Names

['Natalie', 'John', 'Sami', 'Chris', 'Clara']

What if we needed to remove a name from this list? We can do this with the "del" keyword followed by the index of the name. Let's remove "John" from the list:

In [16]:
del Names[1]
Names

['Natalie', 'Sami', 'Chris', 'Clara']

It's important to note, that since we removed an element from the list, and the list is shorter, the index for all of the names after "John" has no changed. For example, while "Sami" used to be 2, it is now 1:

In [10]:
Names[1]

'Sami'

What if we want to add a brand new name to the list? We can do this with the append method. To append an item to a list, call the name of the list follow by ".append(new_element)". Let's add the name "Greg" to the list:

In [17]:
Names.append("Greg")
Names

['Natalie', 'Sami', 'Chris', 'Clara', 'Greg']

It is also possible to add new elements to a list with the extend method, which involves adding ".extend()" to the end of the list name. Let's try adding multiple names this time, which involves using brackets and listing the names:

In [18]:
Names.extend(["Alana", "Timothy"])
Names

['Natalie', 'Sami', 'Chris', 'Clara', 'Greg', 'Alana', 'Timothy']

If you ever want to know how many elements you have in a list, you can use the len() function:

In [20]:
len(Names)

7

Slicing is helpful for working with a small section of a large list of data. Let's say we wanted a smaller list of names from our whole list above. Specifically, we want the list of "Clara" and "Greg". We can do this with indexing:

In [21]:
Names[3:5] #list_name[index_of_first_element : index_after_last_element]

['Clara', 'Greg']

You'll notice that since we are selecting multiple elements, we have to [index_of_first_element : index_after_last_element]. If you want just the first two elements, you can leave the first index blank, followed by 2:

In [22]:
Names[ :2]

['Natalie', 'Sami']

And to get the last two elements, you would do the index of the first elements, colon, bracket:

In [24]:
Names[5: ]

['Alana', 'Timothy']

Let's say you were working with a really huge list of data, and you couldn't possibly count the elements by hand to find the index of a specific data point (or even find that data point). For a case like this, you could used the index method. Let's use the index method to find the index of "Alana" in the Names list:

In [25]:
Names.index("Alana")

5

It's also possible to make a list of lists. Let's make a new list called "New_Names" and add it to a larger list called "All_Names":

In [26]:
New_Names = ["Ellis", "Lola"]
New_Names

['Ellis', 'Lola']

In [27]:
All_Names = [Names, New_Names]
All_Names

[['Natalie', 'Sami', 'Chris', 'Clara', 'Greg', 'Alana', 'Timothy'],
 ['Ellis', 'Lola']]

If you want to order your list alphabetically, you can do this with the sort method:

In [29]:
Names.sort()
Names

['Alana', 'Chris', 'Clara', 'Greg', 'Natalie', 'Sami', 'Timothy']

Or you can sort them in the reverse order with setting "reverse=True" in the parenthesis (Note: the sort method can be used on lists of number as well):

In [31]:
Names.sort(reverse=True)
Names

['Timothy', 'Sami', 'Natalie', 'Greg', 'Clara', 'Chris', 'Alana']

Tubles are another kind of sequence that cannot be changed. This difference between a list and a tuple is that in a tuple, the list's elements are placed within parenthesis and not brackets:

In [34]:
x = (1,2,3)
x

(1, 2, 3)

Tuples are the automatic sequence type in Python, so even if you didn't use parenthesis, Python would create a tuple:

In [41]:
y = 4,5,6
y

(4, 5, 6)

Similar to lists, you can use indexing to select one element. Let's select "2" from the list x:

In [39]:
x[1]

2

And you can create lists that are made up of multiples tuples. Let's add tuples x and y to one list:

In [42]:
List = [x,y]
List

[(1, 2, 3), (4, 5, 6)]

Tuples are also useful for assigning comma-seperated values to variables. Let's assign values to both "age" and "years_of_work":

In [44]:
#(variable1, variable2) = "value1,value2".split(',')
# indicating a split by the comma will assign value1 to variable1 and value2 to variable2
(age, years_of_work) = "33,11".split(',')
print(age)
print(years_of_work)

33
11

Dictionaries are another way of storing data. Our knowledge of lists and tuples will make understanding dictionaries easier. In a dictionary, a value is assigned to a key for what is called a key-value pair like this - 'key':"value". To indicate that you are making a dictionary, you need a use curly brackets ({}). Let's take a look at simple dictionary below:

In [46]:
#dictionary = {'k1':"value1", 'k2':"value2".....}
dictionary = {'k1':"apple", 'k2':"banana", 'k3':"orange"}
dictionary

{'k1': 'apple', 'k2': 'banana', 'k3': 'orange'}

Unlike lists and tuples, in a dictionary, an item can be accessed by its key instead of its index:

In [48]:
dictionary['k1']

'apple'

Similar to lists, you can add news keys to a dictionary by calling the dictionary_name[new_key_name] = new_value_name. Let's add another key to this dictionary:

In [49]:
dictionary['k4'] = "mango"
dictionary

{'k1': 'apple', 'k2': 'banana', 'k3': 'orange', 'k4': 'mango'}

You can also change current key value, by assigning a new value to that key. Let's replace "banana" with "strawberry" in key 2:

In [50]:
dictionary['k2'] = "strawberry"
dictionary

{'k1': 'apple', 'k2': 'strawberry', 'k3': 'orange', 'k4': 'mango'}

There is another way to fill in dictionary. Create a new variable assigned to empty curly brackets, and assign the keys and the values one by one below:

In [53]:
Vegetables = {}
Vegetables['k1'] = 'cauliflower'
Vegetables['k2'] = 'potato'
Vegetables['k3'] = 'carrot'

print(Vegetables)

{'k1': 'cauliflower', 'k2': 'potato', 'k3': 'carrot'}